<div class="header-container">
  <img class="logo" src="assets/logo.png" routerLink="/" />
  <nav class="nav">
    <div
      class="nav-li"
      routerLink="/"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </div>
    <div
      class="nav-li"
      routerLink="/one-page"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      One Page
    </div>
    <div
      class="nav-li"
      routerLink="/one-page-manager"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      One Page Manager
    </div>
  </nav>
</div>
