<div class="header"> {{ tube.header }} </div>
<div class="tube">
    <div class="very-good"> <div class="label">{{ tube.veryGood }}</div> ดีมาก </div>
    <div class="good"> <div class="label">{{ tube.good }}</div> ดี </div>
    <div class="neutral"> <div class="label">{{ tube.normal }}</div> ปานกลาง</div>
    <div class="bad"> <div class="label">{{ tube.bad }}</div>  เริ่มมีผลกระทบต่อสุขภาพ</div>
    <div class="very-bad"> <div class="label">{{ tube.veryBad }}</div>  มีผลกระทบต่อสุขภาพ</div>
</div>