<div class="one-page" id="one-page">
  <div class="container">
    <div class="header-onepage-section ribbon">
      <div class="header-onepage-section__left">
        <div class="header-label -font-bold">
          สถานการณ์<span [innerHTML]="header" class="-font-bold"></span>
        </div>
        <div class="header-sublabel -font-bold">เขตพื้นที่ภาคตะวันออก</div>
      </div>
      <div class="header-onepage-section__right">
        <div class="header-date-time">{{ date }}</div>
        <div class="header-date-time">{{ time }}</div>
      </div>
    </div>
    <app-map class="map-section" [type]="type"></app-map>
    <div class="information-section">
      <app-information-tube
        class="aqi-tube"
        [tube]="tubeData"
      ></app-information-tube>
    </div>
  </div>
  <app-footer></app-footer>
</div>
